.plus-btn{
    margin-left:auto;
}
.news-sheet-container{
    justify-content: center;
    display: flex;
}
.news-sheet::before{
    content: "";
    height: 1px;
    width: 90%;
    border: 2px solid #161A1FFF;
    border-radius: 3px;
}
.news-sheet{
}
.settings-sheet{
    width:90%;
}
.news-item{
    background-color: #1C2027;
    border-radius: 20px;
    border: 4px solid #161A1FFF;
    padding:2rem;
}
.news-content{
    background-color: #1C2027;
}
.news-text{
    background-color: #1C2027;
}
.news-image-frame{
    background-color: #1C2027;
}
.news-image{
    border-radius:10px;
    border: 4px solid #455062;
    width: 10rem;
    height: 10rem;
}
h5{
    color:white;
}
 .btn-news{
    background-color: #1C2027;
    color:white;
 }
 .btn-news-active{
    background-color: #323444;
    color:white;
 }
