*{
    background-color:rgba(34, 40, 49, 1);
    color:white;
}
body{
    background-image:url('./background.png');
    background-repeat: repeat;
    background-size: 30%;

}
html, body {
    height: 100%;
    margin: 0;
}
#content{

    height:100%;
}