{% extends "master.html" %}
{% block title %}Про нас{% endblock %}
{% block style %}
    <style>
        .about-us-image {
            width: 100%;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
    </style>
{% endblock %}
{% block content %}
    <div style="margin: 4rem;" class="row">
        <div class="col-lg-8 col-sm-12">
            <h3>C.A.K.F. та ваш надійний помічник ABITHELP</h3>
            У сучасному інформаційному потоці легко загубитися, особливо коли йдеться про такий важливий етап, як вступ
            до університету або студентське життя. Команда C.A.K.F. розуміє ці виклики і прагне зробити доступ до
            актуальної та релевантної інформації максимально простим та зручним. Саме тому ми створили ABITHELP – ваш
            персональний навігатор у світі університетських новин та подій України!

            <br><br>
            <div><h4>Як ми це робимо?</h4></div>
            &bull;Всеохоплюючий парсер: Наша унікальна система невпинно "мандрує" офіційними сайтами українських
            університетів, збираючи найсвіжіші новини, анонси подій, інформацію про дні відкритих дверей, олімпіади,
            конкурси та багато іншого.<br><br>
            &bull;Централізована платформа: Забудьте про необхідність відвідувати десятки сайтів! Вся зібрана інформація
            акумулюється та відображається у зручному інтерфейсі на нашому вебсайті та в Telegram-боті.<br><br>
            &bull;Розумні фільтри та персоналізація: Ми розуміємо, що кожен користувач має свої унікальні інтереси.
            Система ABITHELP дозволяє налаштувати фільтри за університетами, спеціальностями, типом подій та іншими
            параметрами.<br><br>
            &bull;Система рекомендацій: На основі ваших вподобань та активності, ABITHELP пропонуватиме лише найцікавіші
            та найрелевантніші новини саме для вас, допомагаючи не пропустити нічого важливого.

        </div>
        <div class="col-lg-4 col-sm-12">
            <img class="about-us-image" src="/media/our-team.JPG">
        </div>
    </div>

{% endblock %}
{% block script %}{% endblock %}